.porcento-1 {
  width: 8.33333%;
}

.porcento-2 {
  width: 16.66667%;
}

.porcento-3 {
  width: 25%;
}

.porcento-4 {
  width: 33.33333%;
}

.porcento-5 {
  width: 41.66667%;
}

.porcento-6 {
  width: 50%;
}

.porcento-7 {
  width: 58.33333%;
}

.porcento-8 {
  width: 66.66667%;
}

.porcento-9 {
  width: 75%;
}

.porcento-10 {
  width: 83.33333%;
}

.porcento-11 {
  width: 91.66667%;
}

.porcento-12 {
  width: 100%;
}

.grid-1 {
  width: 60px;
}

.grid-2 {
  width: 140px;
}

.grid-3 {
  width: 220px;
}

.grid-4 {
  width: 300px;
}

.grid-5 {
  width: 380px;
}

.grid-6 {
  width: 460px;
}

.grid-7 {
  width: 540px;
}

.grid-8 {
  width: 620px;
}

.grid-9 {
  width: 700px;
}

.grid-10 {
  width: 780px;
}

.grid-11 {
  width: 860px;
}

.grid-12 {
  width: 940px;
}

.type-1 {
  font-size: 16px;
}

.type-2 {
  font-size: 32px;
}

.type-3 {
  font-size: 48px;
}

.type-4 {
  font-size: 64px;
}

.type-5 {
  font-size: 80px;
}

.type-6 {
  font-size: 96px;
}

.rede-facebook {
  background-image: url("../img/facebook.png");
}

.rede-twitter {
  background-image: url("../img/twitter.png");
}

.rede-pinterest {
  background-image: url("../img/pinterest.png");
}

.rede-instagram {
  background-image: url("../img/instagram.png");
}
